*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

#encabezado #titulo_encabezado h1{
    font-size: 24px;
    position: relative;
    top: 3px;
}

#encabezado{
    max-width: 100%;
    position: relative;
    position: sticky;
    top: 0; /* Se quedará pegado cuando llegue a 0px desde la parte superior */
    z-index: 1000; /* Asegura que el menú esté por encima del contenido */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: rgb(255, 255, 255);

}

#linea_amarilla{
    height: 10px;
    width: 100%;
    background-color: yellow;
    position: relative;
    border-radius: 10px;
}

#cuadro_principal{
    width: 1000px;
    height: 1160px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(247, 245, 245);
}

.posicion_general{
    display: flex;
    justify-content: flex-start;
}

.contenedor_unico {
    direction: rtl; 
    display: inline-flex;
    position: relative;
    top: 20px;
    right: 30px;
}
.contenedor_unico input[type="radio"] {
    display: none; 
}
.contenedor_unico label {
    font-size: 2rem;
    color: #ccc; 
    cursor: pointer;
}
.contenedor_unico input[type="radio"]:checked ~ label {
    color: black; 
}
.contenedor_unico label:hover, .contenedor_unico label:hover ~ label {
    color: black; 
}

.boton_enviar {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.boton_enviar button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.boton_enviar button:hover {
    background-color: yellow;
    color: black;
}